@charset "UTF-8";
#logo{
	float: left;
    margin: 0;
    padding: 0;
    width: 410px;
    height: 180px;
}

#menu{
	margin: 0;
	padding: 0;
	margin-top: 130px;
	min-width: 500px;
	width: auto;
	height: 50px;
	display: inline-block;
	border-bottom: 1px solid slategray;
}

nav{
	min-width: 500px;
	width: auto;
	line-height: 45px;
	margin: 0 auto;
	padding: 5px;
	display: inline-block;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
nav ul li{
	margin: 0 10px;
	color: darkgreen;
	display: inline-block;
	font-size: large;
	font-weight: bold;
}
nav ul li:hover{
	font-size: larger;
	font-weight: bolder;
}
