@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

#container{
	margin: 0;
	padding: 20px;
	width: 100%;
	height: 100vh;
	background-color: wheat;
}

header{
	padding: 20px;
	height: 60px;
	text-align: center;
	background-color: skyblue;
	vertical-align: bottom;
}

footer{
	clear: both;
	font-size: small;
	bottom: 0;
}

.side {
    width: 180px;
    height: calc(100vh - 140px);
    background-color: lightgoldenrodyellow;
}
#left{
	float: left;
}
#content {
	width: calc(100% - 360px);
    height: calc(100vh - 140px);
	float: left;
	background-color: palegreen;
}
#right{
	float: right;	
}

#contents{
	margin: auto;
	display: flex;
}

#newBoard, #newSomoim, #newMarket{
	width: 350px;
	height: 400px;
	flex: 1;
	margin: 15px;
	padding: 10px;
	border: 1px solid darkslategray;
}

.newTitle{
	width: 80%;
	margin: 0px;
	padding: 5px;
	text-align: center;
	border: 1px soid silver;
	font-size: small;
}

.newContents{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: small;
}

table{
	border-collapse: collapse;
	width: 80%;
	max-height: 350px;
}
.title, .date {
	width: 70%;
	height: 15px;
	margin: 2px;
	padding: 2px;
	text-align: left;
}
.date {
	width: 30%;
	height: 15px;
	text-align: right;
}


form{	
	bottom: 0;
}

.loginBox, .doneLogin{
	margin: 15px 0px;
	width: 180px;
	height: 120px;
	padding: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	vertical-align: top;
}
.loginBox input{
	width: 100%;
	height: 30px;
	text-align: center;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.loginBox button{
	width: 45%;
	height: 25px;
	color: black;
	margin: 0 2px;
	bottom: 2px;
}

a{
	font-size: small;
	text-decoration: none;
	color: black;
}

.add{
	width: 180px;
	min-height: 300px;
	max-height: 400px;
	height: auto;
	margin: 10px 0px 0px 0px;
	background-color: azure;
}

#add1{
	margin-top: 150px;
}