@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	height: 50px;
	position: fixed;
	display: inline-block;
	justify-content: flex-end;
	text-align: center;
	padding-top: 50px;
}

footer{
	width: 100%;
	height: 20px;
	bottom: 0px;
	border: 1px solid black;
	font-size: small;
}

.container{
	padding: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.menu{
	margin: 0;
	padding: 0;
	min-width: 500px;
	width: auto;
	height: 50px;
	bottom: 0;
	border: 1px solid black;
	display: inline-block;
}

nav{
	min-width: 500px;
	width: auto;
	line-height: 40px;
	margin: 0 auto;
	padding: 5px;
	display: inline-block;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
nav ul li{
	margin: 0 10px;
	color: black;
	display: inline-block;
}
nav ul li:hover{
	background-color: whitesmoke;
}

.middle{
	margin: 0;
	padding: 0;
	flex : 1;
	display: flex;
	margin-top: 150px;
}

.sideOne, .sideTwo {
    width: 200px;
	position: fixed;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;
    border: 1px solid black;
}
.sideOne{
	order: -1;
}
.sideTwo{
	order: 1;
}

.main{
	width: calc(100% - 400px);
	flex: 1;
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center; /* 가운데 정렬 */
	background-color: beige;
	z-index: 2;
	text-align: center;
	box-sizing: border-box;
}

.content {
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}

.board, .somoim, .market{
	flex: 1;
	min-height: 150px;
	height: auto;
	box-sizing: border-box;
	margin: 15px 10px;
	border: 1px solid black;
	justify-content: center;
	padding-top: 10px;
}
.new{
	width: 100%;
}

.newcon {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

table{
	border-collapse: collapse;
	width: 80%;
	min-height: 150px;
	height: auto;
}
.title, .date {
	width: 70%;
	height: 12px;
	text-align: left;
}
.date {
	width: 30%;
	height: 12px;
	text-align: right;
}


form{	
	bottom: 0;
}

.loginBox, .doneLogin{
	margin: 0 auto;
	width: 180px;
	height: 140px;
	padding: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	margin-top: 15px;
}
.loginBox input{
	width: 100%;
	height: 30px;
	text-align: center;
	margin-bottom: 5px;
	box-sizing: border-box;
}
.loginBox button{
	width: 45%;
	height: 25px;
	color: black;
	margin: 0 2px;
	bottom: 2px;
}

a{
	font-size: small;
	text-decoration: none;
	color: black;
}
