@charset "UTF-8";

#menu{
	margin: 0;
	padding: 0;
	margin-top: 48px;
	min-width: 500px;
	width: auto;
	height: 50px;
	border: 2px solid black;
	display: inline-block;
}

nav{
	min-width: 500px;
	width: auto;
	line-height: 40px;
	margin: 0 auto;
	padding: 5px;
	display: inline-block;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
nav ul li{
	margin: 0 10px;
	color: black;
	display: inline-block;
	font-size: large;
}
nav ul li:hover{
	background-color: whitesmoke;
}
