@charset "UTF-8";
h3{
	padding: 20px;
	margin: 0;
}
h4{
	margin: 0;
	margin: 5px 0;
}

#infoContents{
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
}


#chngInfo, #myMarket, #myBoard, #mySomoim {
	width: 40%;
	min-height: 200px;
	height: auto;
	float: left;
	margin : 10px;
	padding: 10px 20px;
}

#change {
	margin: 10px 50px;
	text-align: left;
}

table{
	margin: 0 auto;
}
.tt{
	text-align: left;
}
