@charset "UTF-8";
#title{
	width: 80%;
	height: 30px;
	margin-bottom: 10px;
}
.title{
	width: 100%;
}
.board{
	width: 100%;
}
.cate{
	width: 30%;
	float: left;
}
.category{
	width: 60%;
}
.per{
	width: 30%;
	float: left;
	width: 30%;
	float: left;
}
.personnel{
	width: 60%;
}
